extends ../layout

block title
  | UberEats

block content
  header.page_header
    .page_header__container.container
      .page_header__inner
        .page_header__logo
          img.page_header__logo-image(src=require('./images/logo.svg') alt="Логотип доставки Убер Итц")
        .page_header__form.address_form
          form.address_form__inner(aria-label="Адрес и время доставки")
            input.address_form__input.input.input--small(aria-label="Когда" value="ASAP")
            .address_form__text to
            input.address_form__input.input.input--icon-pointer(aria-label="Куда" value="ул. Большая Дмитровка, 22" size="23")
        .page_header__buttons
          a.page_header__button.button.button--default(href="#") Вход
          a.page_header__button.button.button--primary(href="#") Регистрация
          a.page_header__button.button.button--icon-basket(href="#")
            img(src=require('./images/basket.svg') alt="Иконка бумажного пакета")

  .search_form
    .search_form__container.container
      .search_form__inner
        form.search_form__form(role="search" aria-label="Форма поиска ресторана, кухни или блюд")
          input.search_form__input.input.input--search.input--icon-search(placeholder="Поиск ресторана или кухни" aria-label="Поле поиска ресторана, кухни или блюд")

  .xs_address_form
    .xs_address_form__container.container
      form.xs_address_form__inner(aria-label="Адрес и время доставки")
        .xs_address_form__group
          label.xs_address_form__label(for="time") Когда
          input.xs_address_form__input.input.input--small(id="time" value="ASAP")
        .xs_address_form__group
          label.xs_address_form__label(for="address") Куда
          input.xs_address_form__input.input.input--icon-pointer(id="address" value="ул. Большая Дмитровка, 22" size="23")


  main.page_main
    .page_main__container.container
      h1.page_main__header Рестораны Москвы
      ul.page_main__restaurants.restaurants.row
        mixin restaurant(image, image_2x, image_alt, title, price_range, tags, minutes)
          li.restaurants__single.restaurant.col-xs-12.col-sm-6.col-md-6.col-lg-4
            img.restaurant__image(src=image, srcset=image_2x + ' 2x', alt=image_alt)
            h2.restaurant__header: a.restaurant__link(href="#")= title
            p.restaurant__tags(aria-label="Ценовой диапозон и типы блюд в ресторане")
              = price_range
              |
              | •
              |
              = tags.join(' • ')
            p.restaurant__time(aria-label="Время за которое привозят еду")
              = minutes.join('—')
              |
              | минут

        +restaurant(
          require('./uploads/first.jpg'),
          require('./uploads/first@2x.jpg'),
          '',
          'Макдоналдс — Газетный',
          '₽₽',
          ['Бургеры'],
          [25, 35]
        )
        +restaurant(
          require('./uploads/kfc.jpg'),
          require('./uploads/kfc@2x.jpg'),
          '',
          'DimSum & Co — ЦДМ',
          '₽',
          ['Китайская', 'Японская', 'Азиатская'],
          [25, 35]
        )
        +restaurant(
          require('./uploads/pizza.jpg'),
          require('./uploads/pizza@2x.jpg'),
          '',
          'ДвижОК — Манежная',
          '₽₽₽',
          ['Японская'],
          [25, 35]
        )

        +restaurant(
          require('./uploads/sushi.jpg'),
          require('./uploads/sushi@2x.jpg'),
          '',
          'НЯ — NHA',
          '₽',
          ['Азиатская'],
          [25, 35]
        )
        +restaurant(
          require('./uploads/first.jpg'),
          require('./uploads/first@2x.jpg'),
          '',
          'Точка Дзы — Цветной',
          '₽',
          ['Европейская', 'Азиатская'],
          [25, 35]
        )
        +restaurant(
          require('./uploads/kfc.jpg'),
          require('./uploads/kfc@2x.jpg'),
          '',
          'Cinnabon',
          '₽₽₽',
          ['Европейская', 'Американская'],
          [25, 35]
        )
        +restaurant(
          require('./uploads/pizza.jpg'),
          require('./uploads/pizza@2x.jpg'),
          '',
          'PIZZELOVE',
          '₽',
          ['Вьетнамская'],
          [25, 35]
        )
        +restaurant(
          require('./uploads/sushi.jpg'),
          require('./uploads/sushi@2x.jpg'),
          '',
          'Zю кафе — Тверская',
          '₽₽₽',
          ['Вьетнамская'],
          [25, 35]
        )
        +restaurant(
          require('./uploads/first.jpg'),
          require('./uploads/first@2x.jpg'),
          '',
          'Bar BQ Cafe — Манежная',
          '₽₽',
          ['Капкейки', 'Десерты', 'Выпечка'],
          [25, 35]
        )
        +restaurant(
          require('./uploads/kfc.jpg'),
          require('./uploads/kfc@2x.jpg'),
          '',
          'DimSum & Co — ЦДМ',
          '₽₽₽',
          ['Пицца'],
          [25, 35]
        )
        +restaurant(
          require('./uploads/pizza.jpg'),
          require('./uploads/pizza@2x.jpg'),
          '',
          'ДвижОК — Манежная',
          '₽',
          ['Японская'],
          [25, 35]
        )
        +restaurant(
          require('./uploads/sushi.jpg'),
          require('./uploads/sushi@2x.jpg'),
          '',
          'НЯ — NHA',
          '₽₽',
          ['Европейская'],
          [25, 35]
        )

  footer.page_footer
    .page_footer__container.container
      .page_footer__inner
        .footer_module.footer_module--line
          img(src=require('./images/white-logo.svg') alt="Логотип Убер Итц")
        .footer_module.footer_module--line
          .row
            .col-xs-6.col-md-3
              form
                select.select(aria-label="Язык сайта")
                  option English
                  option Russian
              .socials
                .socials__header
                  span.socials__sign #
                  span.socials__name UberEats
                ul.socials__links
                  li.socials__item
                    a.socials__link(href="#" target="_blank" rel="noopener noreferer")
                      img(src=require('./images/facebook.svg') alt="Логотип Фэйсбука")
                  li.socials__item
                    a.socials__link(href="#" target="_blank" rel="noopener noreferer")
                      img(src=require('./images/twitter.svg') alt="Логотип Твиттера")
                  li.socials__item
                    a.socials__link(href="#" target="_blank" rel="noopener noreferer")
                      img(src=require('./images/instagram.svg') alt="Логотип Инстаграма")
            .col-xs-12.col-md-3.col-md-offset-1
              ul.footer_menu
                li.footer_menu__item: a.footer_menu__link(href="#") About UberEats
                li.footer_menu__item: a.footer_menu__link(href="#") Become a Delivery Partner
                li.footer_menu__item: a.footer_menu__link(href="#") Become a Restaurant Partner
            .col-xs-12.col-md-3.col-md-offset-1
              ul.footer_menu
                li.footer_menu__item: a.footer_menu__link(href="#") See all cities
                li.footer_menu__item: a.footer_menu__link(href="#") Pricing
                li.footer_menu__item: a.footer_menu__link(href="#") Help
                li.footer_menu__item: a.footer_menu__link(href="#") FAQs

        .footer_module.footer_module--line
          .row
            .col-xs-12.col-sm-8.col-sm-offset-4
              ul.stores
                li.stores__item
                  a.stores__link(href="#" target="_blank" rel="noopener referer")
                    img(src=require('./images/app_store.png') alt="Баннер эпл эп стора")
                li.stores__item
                  a.stores__link(href="#" target="_blank" rel="noopener referer")
                    img(src=require('./images/google_play.png') alt="Баннер гугль плэй стора")

        .footer_module
          .row
            .col-xs-12.col-sm-3
              p.footer_module__text © 2017 Uber Technologies Inc.
            .col-xs-12.col-sm-3.col-sm-offset-1
              a.footer_module__link(href="#") Privacy
            .col-xs-12.col-sm-3.col-sm-offset-1
              a.footer_module__link(href="#") Terms